<%- include('partial/header'); %>

<body class="text-center" style="background-color: #f8f1f1;">


    <div class="container">
        <form id="additem" method="POST" style="margin-top: 10%;padding-left: 20%; padding-right: 20%;">
            <div class="form-group row">
                <label for="itemname" class="col-3 col-form-label" style="font-weight: 400;">Item Name:</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="itemname" name="itemname"><br>
                </div>
            </div>
            <div class="form-group row">
                <label for="itemname" class="col-3 col-form-label" style="font-weight: 400;">Item Price:</label>
                <div class="col-9">
                  <input type="number" class="form-control" id="itemprice" name="itemprice"><br>
                </div>
            </div>
            <div class="form-group row">
                <label for="itemname" class="col-3 col-form-label" style="font-weight: 400;">Item Category:</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="itemcategory" name="itemcategory"><br>
                </div>
            </div>
    
            <button type="submit" class="btn btn-lg btn-light">ADD</button>
    
        </form>
    </div>

    



    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- bootstrap script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <%- include('partial/footer'); %>