<%- include('partial/header'); %>

    <body>

        <h1>Confirmed</h1>

        <div>
            <p>
                <%= display %>
            </p>
        </div>

    </body>

    <%- include('partial/footer'); %>