<%- include('partial/header'); %>

    <body>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <% if(message=="true"){ %>
                            <% var direct = "/profile" %>
                                <p style="font-size: 1rem;font-weight: 400;">Your Reservation is Confirmed.</p>
                                <% }else if(message=="false"){ %>
                                    <% var direct = "/reservation" %>
                                        <p style="font-weight: 400;font-size: 1rem;color: red;">Your Reservation is not Confirmed.</p>
                                        <p style="font-size: 400;font-weight: 1rem;"> Please try again later. </p>
                                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <a role="button" class="btn btn-secondary" href="/profile">Close</a>
                    </div>
                </div>
            </div>
        </div>

        <section id="navbar">
            <nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/"><strong>Mellowbite</strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars fa-1x"></i>
        </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Menu </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/reservation"><span class="sr-only">(current)</span>Dine in</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" role="button" id="profile" href="/profile"><i class="fas fa-user"></i> &nbsp Profile</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </section>

  <section id="heading">
    <div>
      <img
        src="/images/dine.jpg"
        class="img-fluid bgimage"
        alt="Responsive image"
      />
      <div class="container name">
        <div class="row">
          <div class="col-12">
            <p class="restroName" style="visibility: hidden">Mellowbite</p>
          </div>
          <div class="col-12">
            <p class="slogan" style="visibility: hidden">Hello to Fresh Mellow!</p>
          </div>
        </div>
      </div>
    </div>
  </section>






  <section id="reservation">
    <div class="blank-space">
      <div class="container">
        <div class="row" style="text-align: center">
          <div class="col-12">
            <div style="display: inline-block; width: fit-content;">
              <p class="cursive-lettering">Book Table</p>
              <p class="title-sans-lettering">Make Reservation</p>
            </div>
          </div>
        </div>

        <form id="reserve" name="reserve" action="/reservation" method="POST" onsubmit="return validate();"
         style="padding-top: 3rem;font-size: 1.2rem;font-weight: 400;">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="inputName"
                placeholeder="name"
                required
              />
              <div class="validation" id="name" style="display: none">*Please use only alphabets.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phoneNumber">Phone Number</label>
              <input
                type="number"
                class="form-control"
                name="number"
                id="inputNumber"
                placeholder="phone number"
                required
              />
              <div class="validation" id="phone" style="display: none">*Please enter valid phone number(10 digits).</div>
            </div>
            <div class="form-group col-md-6">
              <label for="date">Number of People</label>
              <input
                type="number"
                class="form-control"
                name="no_of_people"
                id="people"
                placeholder="number"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="phoneNumber">Date</label>
                <input
                  type="date"
                  class="form-control"
                  name="date"
                  id="dineInDate"
                  required
                />
                <div class="validation" id="date" style="display: none">*Please enter a valid date.</div>
              </div>
              <div class="form-group col-md-6">
                <label for="phoneNumber">Time</label>
                <input
                  type="time"
                  class="form-control"
                  name="time"
                  id="inputTime"
                  required
                />
                <div class="validation" id="time" style="display: none">*Please enter valid time.</div>
              </div>
          </div>

          
          <button type="submit" class="btn btn-lg btn-light" name="button" >Reserve Table</button>
        </form>
      </div>
    </div>
  </section>

  <% var currentYear = new Date().getFullYear() %>

  <section id="footer">
    <div class="foot">
      <p style="margin: 0">
        <i class="fab fa-facebook-f fa-2x" style="margin: 4rem 2rem 1rem 2rem">
        </i>
        <i class="fab fa-twitter fa-2x" style="margin: 4rem 2rem 1rem 2rem"></i>
        &nbsp;
        <i
          class="fab fa-instagram fa-2x"
          style="margin: 4rem 2rem 1rem 2rem"
        ></i>
      </p>
      <p style="margin: 0">255, &nbsp; 2nd floor, Safal Square, Vesu, Surat.</p>
      <p style="margin: 0">98672 03657</p>
      <p style="margin-bottom: 2rem">mellowbite.restro@gmail.com</p>
      <p class="copy">Copyright © <%= currentYear %> Mellowbite</p>
    </div>
  </section>


  
  
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
  <script>
    var message = <%- JSON.stringify(message)%>;
  </script>
  <script type="text/javascript" src="/javascripts/reservation.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  


<%- include('partial/footer'); %>