<%- include('partial/header'); %>

    <body>

        <form action="/security" method="POST">
            <p>UserName</p><input type="email" name="username"><br>
            <p>Password</p><input type="password" name="password">
            <br>
            <button type="submit" name="button" value="Login">Login</button><br>
            <button type="submit" name="button" value="SignUp">SignUp</button>

            <p>
                <%= display %>
            </p>


        </form>

    </body>
    <script type="text/javascript" src="/javascripts/security.js"></script>
    <%- include('partial/footer'); %>