<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- googlefonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Source+Sans+Pro:wght@200;300;400;600;900&display=swap"
        rel="stylesheet">

    <!-- css stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body style="background-color: #f8f1f1">
    <section id="loginpage">
        <div>
            <div class="container" style="margin: auto !important; text-align: center; padding:0">
                <div class="row" style="margin: 0; position: relative">


                    <div class="col-lg-6">
                        <div style="margin: 2rem;" class="image-shadow">
                            <img class="img-fluid w-100" src="/images/login0.webp" alt="Not Found" />
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="row" style="position: relative; padding-top: 6rem">
                            <div class="col-12">
                                <p class="cursive-lettering">Mellowbite</p>
                            </div>
                            <div class="col-12">
                                <p class="title-sans-lettering">Hello to Fresh Mellow!</p>
                            </div>
                        </div>
                        <form class="form-signin" action="/security" method="POST" style="padding: 2rem">
                            <h1 class="mb-3" style="font-size: 1.3rem; font-weight: 300">
                                Your favourite Dishes, only a step ahead.
                            </h1>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" name="username" id="inputEmail" class="form-control"
                                placeholder="Email Address" required autofocus />
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                placeholder="Password" required />
                            <div class="validation" style="display: none">
                                <%= display %>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <button class="btn btn-lg btn-light btn-block" type="submit" name="button"
                                        value="Login">
                                        Login
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-lg btn-light btn-block" type="submit" name="button"
                                        value="SignUp">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <% var currentYear = new Date().getFullYear() %>


    <section id="footer">
        <div class="foot">
            <p style="margin: 0">
                <i class="fab fa-facebook-f fa-2x" style="margin: 4rem 2rem 1rem 2rem">
                </i>
                <i class="fab fa-twitter fa-2x" style="margin: 4rem 2rem 1rem 2rem"></i> &nbsp;
                <i class="fab fa-instagram fa-2x" style="margin: 4rem 2rem 1rem 2rem"></i>
            </p>
            <p style="margin: 0">255, &nbsp; 2nd floor, Safal Square, Vesu, Surat.</p>
            <p style="margin: 0">98672 03657</p>
            <p style="margin-bottom: 2rem">mellowbite.restro@gmail.com</p>
            <p class="copy">Copyright ©
                <%= currentYear %> Mellowbite</p>
        </div>
    </section>

    <!-- JQuery Ajax -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script>
        var message = "<%- JSON.stringify(message) %>";
        message = JSON.parse(message);

        if (!message) {
            $(".validation")[0].style.display = "block";
            $("input").addClass("is-invalid");
        }
    </script>



    <%- include('partial/footer'); %>