body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

/* ------------------navbar styling ----------------- */
.navbar{
    padding: 1% 15%;
    border-bottom-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-width: thin;
}
.navbar.scrolled{
    padding: 0.25% 15%; 
    border-bottom-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-width: thin;      
}

.navbar-brand{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}
.navbar-brand.scrolled{
    color:rgba(0,0,0,.9) !important;
}

.nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: max-content !important;
}

.nav-item{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.nav-link.scrolled{
    color: rgba(0,0,0,.7) !important;
}
.nav-link.scrolled:hover{
    color: rgba(0,0,0,1) !important;
    font-weight: bold;
}

.bg-dark{
    transition: 700ms ease;
    background-color: transparent !important;
}
.bg-dark.scrolled{
    background-color: white !important;
    color: black !important;
}

.navbar-toggler {
    color: rgba(255,255,255) !important;
    border-color: rgba(255,255,255,0.5) !important;
}
.navbar-toggler.scrolled {
    color: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,.5) !important;
}

.fa-bars{
    color: #c8a97e;
}

.fa-user{
    color: white;
}

.btn-light{
    background-color: rgba(200, 169, 126,0.8) !important;
    border-color: rgba(255,255,255,0.5) !important;
    border-width: 0.15rem;
    font-weight: 600 !important;
    padding: 0.7rem 1.5rem;
    color: rgba(255,255,255,1) !important;
}

.btn-light:hover{
    background-color: rgba(200, 169, 126,1) !important;
    box-shadow: 0.5px 0.5px 10px 2px rgba(200, 169, 126,0.4), 2px 2px 10px 2px rgba(200, 169, 126, 0.3);
}


/* ---------------------------heading section ----------------------- */


.bgimage{
    position: absolute !important;
    z-index: 1 !important;
    display: inline-block !important;
}

.name{
    position: relative !important;
    text-align: center !important;
    z-index: 2;
    padding: 0% 15%;
}

.restroName{
    font-family: 'Alex Brush', cursive;
    font-size: 10rem;
    font-weight: 300;
    text-align: center;
    color: #c8a97e;
    position: relative;
    top: 60%;
}

.slogan{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: white;
    position: relative;
    top: 60%;
}



/* ------------------------about us section------------------------------- */


.white-section{
    position:  relative !important;
    margin-top: 25%;
    padding-top: 5%;
}

.cursive-lettering{
    font-family: 'Alex Brush', cursive;
    font-size: 6rem;
    font-weight: 200;
    color: #c8a97e;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0 !important;

}

.title-sans-lettering{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1 !important;
    margin-bottom: 0;
    padding-bottom: 0;
}





/* ----------------------------services section ---------------------------*/

.service{
    text-align: center;
    position: relative !important;
    margin-top: 10%;
}

.cardhover{
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.21), 3px 3px 10px 4px rgba(0, 0, 0, 0.19);
    border: none;
}
.cardhover:hover{
    box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.30), 3px 3px 10px 8px rgba(0, 0, 0, 0.19);
}

/* -----------------review carousal------------------ */
.review{
    margin-top: 10%;
}

.box{
    border: solid 3px;
    border-radius: 5px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    border-color: blanchedalmond;
    background-color: #f8f1f1;
}

/* ------------------------------review form ------------------------------*/
.review-form{
    margin-top: 5%;
    padding: 3rem 0;
}

/* -------------------------------footer------------------------------------ */

.foot{
    position: relative;
    background-color: black;
    text-align: center;
    font-size: 1rem;
    margin-top: 10%;
    color: rgba(255,255,255,0.6);
}

.copy{
    color: rgba(255,255,255,0.4);
    margin: 0;
    font-size: 0.9rem;
    padding-bottom: 2rem;
}







/* -----------------------------------------------------------security page--------------------------------------------------------------------- */


/* --------------------------carousal -------------------------------------*/

.slider{
    padding: 0 2rem !important;
}

.carousel{
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.21), 3px 3px 10px 4px rgba(0, 0, 0, 0.19);
    border: none;
}
.carousel:hover{
    box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.30), 3px 3px 10px 8px rgba(0, 0, 0, 0.19);
}

/* ------------------------form -------------------- */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
} 

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

  
.validation{
    text-align: left !important;
    color: red;
    font-weight: 400;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}
  







/* ------------------------------------------------------------- reservation page ----------------------------------------------------------------- */

.blank-space{
    position:  relative !important;
    margin-top: 25%;
    padding-top: 5%;
}









/* --------------------------------------------------------------profile -------------------------------------------------------------------------- */

.cover{
    height: 16rem;
    position: relative;
    margin-bottom: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.13) 22.25%, rgba(0, 0, 0, 0.5) 55.5%), url(/images/cover3.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: initial, initial;
    background-clip: initial, initial;
    margin-top: 2rem;
}

.profile{
    margin: 2rem 0 2rem 1rem;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    flex-shrink: 0;
    border: 0.4rem solid rgb(255, 255, 255);
}



.profileUser{
    position: absolute;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    left: 17rem;
    bottom: 5rem;
}


.logout{
    text-align: right;
    position: absolute;
    left: 90%;
    bottom: 12rem;
    width: min-content;
}

.reservation{
    position: relative;
}

.upload{
    position: absolute; 
    z-index: 10;
    font-size: 3rem;
}

.camera{
    margin: 2rem 0 2rem 1rem;
    opacity: 0;
}

.camera:hover{
    opacity: 50%;
}

.fa-camera{
    color: black;  
}

.fa-circle{
    color: rgb(202, 199, 199);
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.edit{
    opacity: 50%;
    font-size: 1rem;
}
.edit:hover{
    opacity: 100%;
}

.address{
    border:solid 2px rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    height: fit-content;
    width: 100%;
}

.address-line{
    width: 80%; 
    float:left;
    padding:0.6rem; 
    margin:auto;
}

.address-button{
    width: 20%; 
    float:right;
    padding:0.6rem ;
    margin:auto;
    text-align: right;
}





/* ---------------------------------------------------------- menu page ------------------------------------------------------------------ */

.menu-section{
    position:  relative !important;
    margin-top: 10%;
    padding-top: 5%;
}

.category{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.menu{
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.21), 3px 3px 5px 2px rgba(0, 0, 0, 0.19);
    margin: 2rem;
}

.add-btn{
    position: absolute;
    bottom: 1.5rem;
    left: 82%;
    font-size: 1.1rem; 
    font-weight: 400;
}
.addc-btn{
    position: absolute;
    bottom: 1.5rem;
    left: 89%;
    font-size: 1.1rem; 
    font-weight: 400;
}

.item-box{
    border: 0.01rem solid rgba(0, 0, 0,0.5);
    margin: 1rem auto;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.cartitems{
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem;
    padding-right: 0 !important;
    padding:1rem;
    background-color: #f1f1f1;
}



/* ----------------------------------------------------------media query---------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .navbar{
        padding-left: 7%;
        padding-right: 5%;
    }
    .navbar.scrolled{
        padding-left: 7%;
        padding-right: 5%;
    }
    .restroName{
        font-size: 7rem;
        top: 50%;
    }
    .slogan{
        font-size: 2.5rem;
        top: 50%;
    }
    .white-section{
        margin-top: 15%;
        padding-top: 0%;
    }
    .service{
        margin-top: 20%;
    }
    .blank-space{
        margin-top: 28%;
    }
    .profile{
        margin: 2rem 1rem;
    }
    .profileUser{
        left: 16rem
    }
    .logout{
        left: 85%;
    }
    
}

@media only screen and (max-width: 800px){
    .restroName{
        font-size: 3.5rem;
        top: 30%;
    }
    .navbar-brand{
        font-size: 1rem;
    }
    .slogan{
        font-size: 1.3rem;
        top: -10%;
    }
    .white-section{
        margin-top: 15%;
        padding-top: 0;
    }
    .cursive-lettering{
        font-size: 5rem;
    }
    .title-sans-lettering{
        font-size: 2.5rem;
    }
    .service{
        margin-top: 30%;
    }
    .profile{

        height: 10rem;
        width: 10rem;
        margin: 2rem 0 1rem 0;
    }
    .profileUser{
        bottom: 6rem;
        left: 12rem;
    }
    .logout{
        bottom: 4rem;
        left: 12rem;
        margin: auto;
    }
    .category{
        font-size: 1.5rem;
    }
    .menu-section{
        margin-top: 6%;
    }
    .add-btn{
        left: 75%;
    }
    .addc-btn{
        left: 87%;
    }
    .camera{
        margin: 2rem 0 1rem 0;
    }
    .upload{
        font-size: 2.5rem;
    }
    .address-line{
        width:70%;
    }
    .address-button{
        width:30%;
    }
}
